.link{
    float:right;
}

.main-area{
    position: absolute;
    top:32%;
    left:42%;
}

.text-bar{
    border-radius:25px;
}

#search_bar{
    position: relative;
    left: 5%;
    
}

.button{
   
}

#button-search{
    padding:1%
}

#button-img-search{
    
}

#logo-main{
    position:relative;
    left:4%;
    width: 25%;
}

#logo-img{
    width: 25%;
    position: relative;
    left: 2%;
    top: 1%
}

#camera{
    width: 5%;
    padding: 1%;
    position: relative;
    right: 2%
}

#container{
    position:absolute;
    top: 20%;
    left: 40%;
}

#text-boxes>div{
    padding: .5%;
}

#button-adv-search{
    position: relative;
    left:26.5%;
}

#logo-adv{
    width: 25%;
    position: relative;
    left: 10%;
}