.link{
    float: right;
}

.text_bar{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
}

#search_buttons{
    position: absolute; 
    top: 54%; 
    left: 49%; 
    transform: translate(-46%, -51%);
}

#img_sch_button{
    position: absolute; 
    top: 50%;
    left:62%;
    transform: translate(-50%, -38%);
}

.logo{
    position: absolute;
    top: 25%;
    left: 42%;
}

#camera{
    position: absolute;
    top: 45%;
    left: 55%;
    transform: translate(-60%, -49%);
}

#container{
    position:absolute;
    top: 33%;
    left: 60%;
    transform: translate(-77%, -40%);
}

#text-boxes>div{
    padding: .3%;
}

#adv-sch-button{
    position: relative;
    left:10%
}

#advc-logo{
    position: relative;
    left: 12%;
}